 #clock {
     text-align: center;
     color: saddlebrown;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .text-center {
     color: lightcoral;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
 